@import "tailwindcss";

@theme {
  --color-app-bg: #0A0A0B;
  --color-app-sidebar: #121214;
  --color-app-accent: #FF6B00;
  --color-app-text: #E0E0E0;
}

body {
  background-color: var(--color-app-bg);
  color: var(--color-app-text);
}
